
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.md-8{ width: 75%; float: left; }
.md-4{ width: 25%; float: left; }
.slider-sec{ width: 50%; }
#navbarCollapse ul li a, .slider-text{color: white !important;}
.main {margin-top: 80px;}
.header , .banner-section, .our-client-section, .quick-stats-section, .testimonial-section, .footer-sec, .home .case-study-section, .bottom-section, .banner-sec, .hero-sec,.icon-sec, .full-width-sec, .link-sec, .contact-sec { background-color: #001735 !important; }
.digital-marketing-section, .service-section, .blog-section, .inner .case-study-section{ background-color: #000b1a; }
.slick-dots li.slick-active button:before {  opacity: .75; color: white !important; }
.slick-dots li button:before{color: #fff5f5 !important; }